---
title: Self-managed reliability
description: Ensure disaster recovery, high availability and load balancing of your self-managed deployment.
canonical_path: "/solutions/self-managed-reliability/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Self-managed reliability
    %p Disaster recovery, high availability and load balancing for self-managed deployments
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %p GitLab offers customers a choice of two deployment options - SaaS and Self-managed. For customers that choose to host and manage their GitLab instance themselves, the premium tier and above offer disaster recovery, high availability and load balancing of your self-managed deployment.


  .content.row-layout

    .full-width
      = image_tag "images/geo.png", class: "screenshot margin-bottom10", alt: "GitLab Geo", size: "10"
      %a{ href: "https://docs.gitlab.com/ee/user/analytics/value_stream_analytics.html#type-of-work---tasks-by-type-chart", target: "_blank" }

  .content.row-layout
    .full-width
      %h2 High availability and Disaster Recovery
      %ul
        %li
          Failover to another data center in minutes with <a href="https://docs.gitlab.com/ee/administration/geo/disaster_recovery/index.html">disaster recovery</a>
        %li
          Replicated Git storage with automatic failover
        %li
          <a href="https://docs.gitlab.com/ee/administration/maintenance_mode/index.html">Maintenance mode</a> for minimum disruption to end users
        %li
          <a href="https://docs.gitlab.com/omnibus/settings/logs.html#udp-log-forwarding">Log forwarding</a> to a central system


  .content.row-layout
    .full-width
      %h2 Support distributed environments
      %ul
        %li
          Distributed cloning with <a href="https://about.gitlab.com/solutions/geo/">GitLab geo</a> to reduce time to clone and fetch large repos
        %li
          <a href="https://docs.gitlab.com/ee/administration/geo/index.html">Container registry replication</a> to improve collaboration for distributed teams

  .content.row-layout
    .full-width
      %h2 Scaling
      %ul
        %li
          Support for <a href="https://about.gitlab.com/support/#definition-of-scaled-architecture">scaled architectures</a> to manage increasing demand and provide redundancy


  .content
    %h2.u-margin-bottom-sm.text-center
      Featured videos
    .video-slider
      - data.video_carousel.each do |video|
        -if video.carousel_identifier.include?("Self-managed reliability carousel")
          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}

%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("VSM Carousel 1")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
